<h2>Register New User</h2>
<form (ngSubmit)="registerUser()">
  <label for="fullName">Full Name:</label>
  <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" required class="input-text">
<br>
  <label for="phoneNumber">Phone Number:</label>
  <input type="text" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required class="input-text">

  <button type="submit" class="Home-b">Register</button>
</form>
<p>{{message}}</p>
<p>Thank you for registering with us</p>
<button (click)="goHome()" class="Home-b">Home</button>
