.WEL-text {
    color: white;
    font-size: 50px;
}

.input-text {
    background-color: transparent;
    font-size: 20px;
    margin-left: 5px;
}

.Home-b {
 border-radius: 5px;
 margin-left: 5px;
 color: rgb(244, 248, 247);
 background-color: black;
 font-size: 20px;
}